<router-outlet></router-outlet>

<button (click)="increment()" class="btn">Amount Clicks: {{ num }}</button>

<div class="black">
  <h1>{{ title }}</h1>
</div>
<div class="ash">
  <h2>{{ name }}</h2>
  <h2>{{ email }}</h2>
</div>

<button (click)="toggleHobbies()" class="btn">Mostrar hobbies</button>
<div *ngIf="showHobbies" class="component2">
  <h3>hobbies:</h3>
  <form (submit)="newHobby(hobby)">
    <input #hobby type="text" placeholder="hobby">
  </form>
  <ul>
    <li *ngFor="let hobby of hobbies">{{ hobby }}</li>
  </ul>
  <a href="{{ webpage }}" target="_blank">Visita mi Sitio Web</a>
</div>
<div class="black">
  <h1>{{ title }}</h1>
</div>
